.product-briefing {
  background-color: #EFFFE4;
}

.pro_Image {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}


.el-image {
  // padding: 20px;
  width: 100%;
  height: 100%;
}

.pro_intro {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.pro_name {
  border-bottom-style: solid;
  border-color: #f5bb51;
  font-size: 16pt;
  margin-top: 40px;
  margin-right: 10%;
}

.pro_price {
  color: #FF0000;
  margin-right: 0%;
}

.row_three {
  margin-top: 50px;
}

.quantity_text {
  font-size: 14pt;
  margin-top: 8px;
  font-weight: bold;
}

.pro_input_quantity {
  margin-left: 2%;
}

.the_rest_of {
  margin: 10px;
}

.add_procar {
  margin-top: 18px;
  margin-left: 8%;
  margin-bottom: 18px;
}

.product-detail {
  background-color: #ffffff;
  margin-top: 40px;
  margin-bottom: 40px;
}