.el-col-7 a{
    height: 100px;   
}
.el-image{
    height: inherit;
}
.top{
    position: sticky;
    top: 0;
    left: 0;
    // height: 100px;
    width: 100%;
    z-index: 2;
    background-color: #FAEDA7; 
}
.shoppingCart-position{
    top: 33px;
    left: 10px;
    position: relative;
    top: 25px;
    right: -30px;
}
.shoppingCart-image{
    transition: 0.5s;
    width: 30%;
}
.shoppingCart-image:hover{
    transform: scale(1.2);
}
.register-position{
    position: relative;
    font-size: 18px;
    top: 10px;
    color: #F97E13;
}
.member-position{
    position: relative;
    font-size: 18px;
    top: 10px;
    left: 10px;
    color: #F97E13;
}
.input-position{
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
.home-image{
    width: 40%;
    transform:translateY(20%);
    display: inline-block;
}
.el-form{
    width: 100%;
}

.el-space__item a{
    color: #F97E13;
    // text-decoration-line: none;
    font-family: "DFKai-sb";
    font-size: 18px;
}



