.aside-button {
    background-color: #545c64;
    border-color: #545c64;
    color: #ffffff;
}

.aside-button:focus {
    background-color: #545c64;
    border-color: #545c64;
    color: #ffffff;
}

.aside-button:hover {
    background-color: #3f4449;
    border-color: #3f4449;
    color: #ffffff;
}

.aside-button:active {
    background-color: #545c64;
    border-color: #545c64;
    color: #ffd04b;
}

/* rgb(255, 208, 75); background-color: rgb(84, 92, 100);" */